* {
    background-color: lightgray;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 10vh;
    align-items: center;
    background-color: black;
    color: blue;
}

h1, nav ul, nav a, nav li {background-color: black;}

#About {
    align-content: center;
    height: 300px;
}

#Work_Title, #Contact_Me, #About_Me {
    display: flex;
    align-items: center;
    width: 20vw;
    border-right: 5px solid black;
}

#Work, footer, #About {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

#Work_Image {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 50%;
    width: 50%;
}

#big-picture {
    height: 50vh;
    width: 50vw;
    position: relative;
}

.big-text-block {
position: absolute;
bottom: 200px;
background-color: white;
color: blue;
border: 5px solid blue;
font-size: larger;
}

#small-picture {
   width: 50%;
   padding: 10px; 
}


nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#spacing {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

ul{
    display: flex;
    justify-content: space-around; 
    min-width: 700px;
    font-size: larger;   
}

footer {
    height: 10vh;
}

@media screen and (max-width: 768px) {
    #Work_Image {
      flex-direction: column;
    }
  }